.banner {
  font-family: SubtitleFont;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: auto;
  background-color: #a1a1a1;
  width: 100%;
  position: relative;
  top: 50px;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gridcontainer {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 700px;
  text-align: center;
  display: inline-block;
  margin: 25px;
  border: 2px solid #a1a1a1;
}

.cardlink {
  font-family: SubtitleFont;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.price {
  color: #34c334;
  font-size: 30px;
  font-family: SubtitleFont;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #bd6304;
  text-align: center;
  font-family: TextFont;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.productImg {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.dropdown {
  border: 1px solid #e5e5e5;
  padding: 40px;
}

select {
  font-size: 20px;
  text-align: center;
  border: none;
  width: 50%;
  background: white;
  font-family: TextFont;
  color: #bd6304;
}

p {
  font-family: TextFont;
  font-size: 18px;
  color: white;
}

@font-face {
  font-family: TextFont;
  src: url("../Assets/Pokemon_Classic.ttf");
}
