.moon-listing {
  display: flex;
}

.moon-listing-column-left {
  margin-left: auto;
  padding-right: 20px;
}

.moon-listing-column-right {
  margin-right: auto;
  padding-left: 20px;
}

.moon-image {
  max-width: 250px;
  max-height: 250px;
  background-color: #a1a1a1;
}
