.container {
  display: flex;
  padding: 30px;
}

.left {
  position: relative;
}

.right {
  background-color: #a1a1a1;
  border-radius: 95px;
  text-align: center;
  width: 40%;
}

.moon-descr {
  padding-left: 30px;
  padding-right: 30px;
}
